<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/calculator.min.css">
    <title>Calculator</title>
</head>

<body>
    <div class="calculator">
        <div class="calculator-body">
            <div class="titlebar">
                <div class="title">Calculator</div>
                <div class="control">
                    <a href="#"> &#128469; </a>
                    <a href="#"> &#128470; </a>
                    <a href="#"> &#128473; </a>
                </div>
                <div class="status">
                    <span class="nav"> &#9776;</span>
                    <span class="mode">Standard</span>
                    <span class="history"> &#8855;</span>
                </div>
            </div>
            <div class="screen">
                <div class="screen-expression">3+9+</div>
                <div class="screen-value">12</div>
                <div class="memory">
                    <a href="#">MC</a>
                    <a href="#">MR</a>
                    <a href="#" class="active">M+</a>
                    <a href="#" class="active">M-</a>
                    <a href="#" class="active">MS</a>
                    <a href="#">M▼</a>
                </div>
            </div>
            <div class="keyboard">
                <div class="keyboard-table">
                    <!-- (div.table-tr>(div.table-td)*4)*6 -->
                    <div class="table-tr">
                        <div class="table-td">%</div>
                        <div class="table-td"> &#8730;</div>
                        <div class="table-td"> x²</div>
                        <div class="table-td"> 1/x</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td">CE</div>
                        <div class="table-td">C</div>
                        <div class="table-td">←</div>
                        <div class="table-td"> &#247;</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td number-button">7</div>
                        <div class="table-td number-button">8</div>
                        <div class="table-td number-button">9</div>
                        <div class="table-td">&#215;</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td number-button">4</div>
                        <div class="table-td number-button">5</div>
                        <div class="table-td number-button">6</div>
                        <div class="table-td">-</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td number-button">1</div>
                        <div class="table-td number-button">2</div>
                        <div class="table-td number-button">3</div>
                        <div class="table-td">+</div>
                    </div>
                    <div class="table-tr">
                        <div class="table-td">&#177;</div>
                        <div class="table-td number-button">0</div>
                        <div class="table-td">.</div>
                        <div class="table-td">=</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="extend-panel">
            <div class="nav">
                <span class="active">History</span>
                <span>Memory</span>
            </div>
            <div class="screens">
                <div class="screen">
                    <div class="screen-expression">3+9=</div>
                    <div class="screen-value">12</div>
                </div>
                <div class="screen">
                    <div class="screen-expression">5+6+8=</div>
                    <div class="screen-value">19</div>
                </div>

            </div>
            <div class="trush">
                <span> &#128465;</span>
            </div>
        </div>
</body>

</html>
