<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pure CSS Icon</title>
</head>

<body>
    <h1>Pure CSS Icon</h1>
    <!-- div.icon>((div.icon-image>(div.cycle+div.line))+div.icon-text(div.grape+div.city)) -->
    <div class="icon">
        <div class="icon-image">
            <div class="cycle"></div>
            <div class="line"></div>
        </div>
        <div class="icon-text"></div>
        <div class="grape"></div>
        <div class="city"></div>
    </div>
</body>

</html>
