<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/jigsaw.min.css">
    <title>Calculator</title>
</head>

<body>
    <div class="wrap">
        <div id="jigsaw-container">
            <div class="setup-panel"></div>
            <div class="play-panel"></div>
        </div>
        <script src="scripts/jigsaw.min.js"></script>
        <script>
            new Jigsaw('#jigsaw-container').play();

        </script>
    </div>
</body>

</html>
