<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/jigsaw.min.css">
    <title>Calculator</title>
</head>

<body>
    <div class="wrap">
        <div id="jigsaw-container">
            <div class="setup-panel">
                <div class="setting">
                    <div class="input-group">
                        <label for="row">Row:</label>
                        <input id="row" type="text" value="5">
                    </div>
                    <div class="input-group">
                        <label for="column">Column:</label>
                        <input id="column" type="text" value="5">
                    </div>
                </div>
                <div class="control">
                    <div id="messing" class="btn">Messing</div>
                    <div id="solving" class="btn">Solving</div>
                </div>
            </div>
            <div class="play-panel"></div>
        </div>
        <script src="scripts/jigsaw.min.js"></script>
        <script>
            new Jigsaw('#jigsaw-container').play();

        </script>
    </div>
</body>

</html>
