<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/sheet.min.css">
    <title>Sheet</title>
</head>

<body>
    <div id="sheet-container">



    </div>
    <script src="scripts/sheet.min.js"></script>
    <script>
        new Sheet('#sheet-container');

    </script>
</body>

</html>
