* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Microsoft YaHei", Helvetica, cursive, "Source Han Sans SC", Arial, sans-serif !important;
    background-color: rgb(245, 245, 245);
    font-size: 100%;
}

.wrap {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    a {
        text-decoration: none;
        color: #222;
        &:visited {
            color: #222;
        }
    }
}

#jigsaw-container {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    .setup-panel {
        margin: 10px;
        .setting {
            .input-group {
                display: inline-block;
                margin: 0 10px;
                width: 250px;
                label {
                    margin: 10px;
                }
                input {
                display: inline-block;
width: 150px;
                    padding: 8px;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 5px;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                }
            }
        }
        .control {
            .btn {
                display: inline-block;
                border: 1px solid transparent;
                padding: 8px 16px;
                margin: 15px 20px;
                border-radius: 5px;
                color: #fff;
                background-color: #28a745;
                border-color: #28a745;
                cursor: pointer;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                &:hover {
                    background-color: #218838;
                    border-color: #1e7e34;
                }
            }
        }
    }
    .play-panel {
        padding: 20px;
        border: 1px dotted #efb484;
        display: inline-block;
        .block-list {
            position: relative;
            font-size: 0;
            .block-item {
                display: inline-block;
                position: absolute;
                border: 1px solid #ffffff;
            }
        }
    }
}
