html,
body {
    font-family: arial, sans-serif;
    font-size: small;
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
    &:visited {
        color: #222;
    }
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

.nav {
    position: relative;
    min-width: 980px;
    top: -56px;
    .left-nav {
        position: absolute;
        margin: 6px 0 0 2px;
        a {
            padding-left: 15px;
            opacity: 0.75;
        }
    }
    .right-nav {
        min-width: 220px;
        right: 22px;
        position: absolute;
        .right-link {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            a {
                padding-left: 15px;
                color: #222;
            }
        }
        .left-link {
            display: inline-block;
            vertical-align: middle;
            .option-icon {
                padding-right: 10px;
                height: 30px;
                width: 30px;
                text-decoration: none;
                background-position: -132px -38px;
                background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
                background-size: 528px 68px;
                color: #000;
                cursor: pointer;
                opacity: 0.55;
                display: inline-block;
                vertical-align: middle;
                outline: none;
                &:hover {
                    opacity: .85;
                }
            }
            .sign {
                right: 0;
                border: 1px solid #4285f4;
                font-weight: bold;
                outline: none;
                background: #4285f4;
                background: linear-gradient(to top, #4387fd, #4683ea);
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                line-height: 28px;
                padding: 0 12px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                cursor: default;
                text-decoration: none;
            }
        }
    }
}

.content {
    text-align: center;
    min-width: 980px;
    .content-logo {
        height: 233px;
        margin-top: 75px;
        img {
            padding-top: 109px;
            height: 92px;
            width: 272px;
        }
    }
    .search-box {
        position: relative;
        margin: 0 auto;
        max-width: 484px;
        background-color: #fff;
        height: 44px;
        vertical-align: top;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        .input-box {
            height: 100%;
            overflow: hidden;
            padding: 4px 13px 0;
            position: absolute;
            input {
                border: none;
                padding: 0px;
                margin: 0px;
                line-height: 34px;
                height: 34px;
                font-size: 16px;
                width: 410px;
                outline: none;
            }
        }
        .voice-button {
            width: 24px;
            padding: 0 8px;
            cursor: pointer;
            margin: 8px;
            float: right;
            .voice {
                width: 18px;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC") no-repeat -3px 0;
                background-size: 24px 24px;
                display: inline-block;
                height: 23px;
                vertical-align: middle;
            }
        }
    }
    .search-button {
        padding-top: 18px;
        button {
            height: 36px;
            line-height: 27px;
            background-image: linear-gradient(to top, #f5f5f5, #f1f1f1);
            -webkit-user-select: none;
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            border-radius: 2px;
            color: #757575;
            cursor: default;
            font-size: 13px;
            font-weight: bold;
            margin: 11px 4px;
            min-width: 54px;
            padding: 0 16px;
            text-align: center;
            &:hover {
                background-color: #f8f8f8;
                background-image: linear-gradient(to top, #f8f8f8, #f1f1f1);
                border: 1px solid #c6c6c6;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                color: #222;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 980px;
    margin-left: -23px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    white-space: nowrap;
    a {
        display: inline-block;
        color: #666;
        padding-left: 23px;
        margin: 0 !important;
    }
    .left-footer {
        margin-left: 30px;
        display: inline;
    }
    .right-footer {
        float: right;
        margin-right: 30px;
    }
}
