* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Microsoft YaHei", Helvetica, cursive, "Source Han Sans SC", Arial, sans-serif !important;
    background-color: #F1F1F1;
    font-size: 100%;
}
